<div class="flex justify-between flex-col lg:items-center lg:flex-row">
<h2 class="text-2xl font-bold text-blue-400"><%= link_to title , url, target: :_blank %></h2>
</div>
<h4 class="text-lg font-bold"><%= techstack %></h4>
<p class="mt-1 text-justify"><%= description %></p>
